

table, tr, td, th {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 8px;
    font-weight: bold;
    background-color: transparent;
    
}

.top {
    width: 100%;
}


body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../../images/jungle.png");
    margin-left: 2vw;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 4vw;
    
}

.b {
    transition: transform 0.5s ease;
    
}

.b:hover {
    transform: translateX(10px);
    font-size: 3.1vw;
    text-decoration: underline;
}




.tiger {
    width: 25vw;
    height: auto;
    background-image: url('../../images/tiger.png');
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    max-width: 30vw;
    height: auto;
    transition: transform 0.5s ease;
}

.tiger:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}

.parrot {
    width: 25vw;
    height: auto;
    background-image: url('../../images/parrot.png');
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    max-width: 30vw;
    height: auto;
    transition: transform 0.5s ease;
}

.parrot:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}
.monkey {
    width: 25vw;
    height: auto;
    background-image: url('../../images/monkey.png');      
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.monkey:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}
.textjt {
    text-align: center;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    background-color: black;
    margin-top: 80%;
    
    

}


.lion {
    width: 25vw;
    height: auto;
    background-image: url('../../images/lion.png');
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    max-width: 30vw;
    height: auto;
    transition: transform 0.5s ease;
}

.lion:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}

.giraffe {
    width: 25vw;
    height: auto;
    background-image: url('../../images/giraffe.png');
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    max-width: 30vw;
    height: auto;
    transition: transform 0.5s ease;
}

.giraffe:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}
.elephant {
    width: 25vw;
    height: auto;
    background-image: url('../../images/elephant.png');      
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.elephant:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}


.polarbear {
    width: 25vw;
    height: auto;
    background-image: url('../../images/polar-bear.png');
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    max-width: 30vw;
    height: auto;
    transition: transform 0.5s ease;
}

.polarbear:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}
.penguin {
    width: 25vw;
    height: auto;
    background-image: url('../../images/penguin.png');      
    background-size: cover;
    border: 4px solid black;
    display: inline-block;
    margin: 1vw;
    border-radius: 10px;
    transition: transform 0.5s ease;
}

.penguin:hover {
    transform: scale(1.3);
    cursor: zoom-in;
}