body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #22313f;
    margin: 0;
    padding: 0;
    color: #8dc6ff;
}
.topblock{
    height: 100vh;
    background: transparent;
    align-items: center;
    justify-content: center;
    display: flex;
    
    
}
.intro{
    background-image: url("images/top.png");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;

    align-items: center;
    justify-content: center;
}

.welcome{
    margin: 0;
    padding: 10px;
    text-align: center;
    background-color: #22313f;
    
    margin-top: 20vh;

}

.welcome h1{
    font-size: 7vw;
    margin: 0;
}
.welcome p{
    font-size: 3vw;
    margin: 0;
}
.sec-block{
    background-color: #2c3e50;
    padding: 5vh 10vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}


.about-us{
    text-align: center;
}


.about-us h2{
    font-size: 5vw;
}