body {
	background-color: #ff4d4d;
	font-family: verdana;
}

img {
	max-width: 50%; /* Ensures the image doesn't exceed its parent's width */
	max-height: 400px; /* Limits the image's height to 400 pixels */
	height: auto; /* Maintains the aspect ratio when scaling */
}
hr {
	height: 4px;
	background-color: black;
	border: black;

}

.btn {
	background-color: black;
	border: 2px solid white;
	color: white;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
	transition-duration: 0.4s;
	padding: 16px 38px;
	border-color: white;
	border-radius: 3px;
}

.btn:hover {
	background-color: white;
	color: black;
	border: 2px solid black;
	border-radius: 3px;
}

.border {
	border-color: #2196F3;
  	color: black;
}

.border:hover {
  	background:#2196F3;
  	color: white;
}
