body {
    margin: 0;
    padding: 20px;
    background-color: #25338f;
    font-family: 'Courier New', monospace;
    color: #000000;
    height: 100vh;
    box-sizing: border-box;
    font-weight: 700;
}

h1{
    text-align: center;
}

.location{
    background-color:aqua;
    color: black;
    border-radius:5px;
    font-weight: 700;
}

#terminal {
    height: 80%;
    display: flex;
    flex-direction: column;
    max-width: 80%;
    margin: 0 auto;
    border: 2px solid #000000;
    padding: 20px;
    background-image: url('tanker.jpg');
    overflow: hidden;
}

#output {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 16px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

#input-line {
    display: flex;
    align-items: center;
    border-top: 1px solid #000000;
    padding-top: 10px;
    font-weight: 700;
}

.prompt {
    color: #000000;
    margin-right: 10px;
    font-weight: bold;
}

#user-input {
    flex: 1;
    background: transparent;
    border: none;
    color: #000000;
    font-family: 'Courier New', monospace;
    font-size: 16px;
    outline: none;
    font-weight: 700;
}

#user-input::placeholder {
    color: #000000;
    font-weight: 700;
}

.ascii-art {
    color: #0095ff;
    line-height: 1.2;
    font-size: 12px;
}
