body{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif; /*PICK A GOOGLE FONT */
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: scroll;
    perspective: 1px;
}

html {
    scroll-behavior: smooth;
    
}

#navbarlogo {
    width: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

nav {
    display: flex;
    height: 20px;
    gap: clamp(7px, 2vw, 40px);
    position: sticky;
    top:0;
    flex-direction: row;
    
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right,#aa3b5e, #67103a);
    z-index: 999;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

nav a{
    display: inline-block;
    padding: 3px 10px; /* reserve space so hover doesn't change layout */
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    will-change: transform;
}

nav a:hover{
    opacity: 100%;
    background-color: white;
    color: #67103a;
    
}

#main {
    height: 100vh;
    background-image: url(images/head.png);
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    background-attachment: fixed;
}

#headerimg {
    width: clamp(100px, 50%, 500px);
    height: 300px;
    border-radius: 10px;
    margin: 20px;
    padding: 0;
}

/*#weave {
    width: 190vw;
    height: 40vh;
    background-color: #ffffff;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: -100;
    rotate: -30deg;

}
*/

#Gallery {
    height: 100vh;
    width: 100%;
    background-color: #ec5f5f;
    
}

#Contact {
    height: 100vh;
    width: 100%;
    background-color: #40ac45;
}

#Socials {
    height: 100vh;
    width: 100%;
    background-color: #4b82c4;
}

#Mystory {
    height: 100vh;
    width: 100%;
    background-color: #409250;
}

#footer {
    height: 10vh;
    width: 100%;
    background-color: #b49c43;
}