

body{
    margin:0;
    padding:0;
    font-family: 'Funnel Sans', 'Google Sans', serif; /*PICK A GOOGLE FONT */
    line-height: 1.6;
    overflow-x: hidden;
    overflow-y: scroll;
}

html {
    scroll-behavior: smooth;
    
}

#navbarlogo {
    width: 40px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

nav {
    display: flex;
    height: 20px;
    gap: clamp(7px, 2vw, 40px);
    position: sticky;
    top:0;
    flex-direction: row;
    
    align-items: center;
    padding: 20px;
    background: linear-gradient(to right,#aa3b5e, #67103a);
    z-index: 999;
}



nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: all 0.3s ease;
}

#links {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

nav a{
    display: inline-block;
    padding: 3px 10px; /* reserve space so hover doesn't change layout */
    border-radius: 10px;
    box-sizing: border-box;
    transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
    will-change: transform;
}

nav a:hover{
    opacity: 100%;
    background-color: white;
    color: #67103a;
    
}

#main {
    height: 100vh;

    background-image: url(images/topp.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    align-items: top;
    background-attachment: fixed;
    color: white;
}

#content {
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#topbtn {
    margin-top: 20px;
}

#topbtn a {
    display: inline-block;
    padding: 10px 20px;
    background: #67103a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background 1s ease;
    transition: transform 1s ease;
}

#topbtn a:hover {
    background-color: #8d40ac;
    transition: background-color 2s ease, transform 1s ease;
    transform: scale(1.05); transform: scale(1.05); 
}

/*#weave {
    width: 190vw;
    height: 40vh;
    background-color: #ffffff;
    background-size: cover;
    position: absolute;
    bottom: 0;
    right: -100;
    rotate: -30deg;

}
*/

#Gallery {
    padding-top: 5vh;
    top: 0;
    height: auto;
    width: 100%;
    background-color: #c1417f;
    margin: 0;
    align-items: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    
}

#btnimgs a{
    display: inline-block;
    padding: 10px 6vw;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #67103a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
}

#btnimgs a:hover {
    background: #aa3b5e;
    transform: scale(1.05);
}

#imgs {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#Contact {
    height: 100vh;
    width: 100%;
    background-color: #40ac45;
}

#Socials {
    height: 100vh;
    width: 100%;
    background-color: #4b82c4;
}

#Mystory {
    height: auto;
    width: 100%;
    background-color: #638392;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
}

#mscont {
    margin-left: clamp(10px, 3vw, 30px);
}

#btnmscont a {
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 20px;
    background: #67103a;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s ease;
    transition: transform 0.3s ease;
}

#btnmscont a:hover {
    background: #aa3b5e;
    transform: scale(1.05);
}

#footer {
    height: 10vh;
    width: 100%;
    background-color: #b49c43;
}

.galimg {
    width: clamp(100px, 45vw, 400px);
    height: auto;
    margin: 0;
    border-radius: 10px;
    object-fit: cover;
    border: 5px solid white;
    transition: transform 400ms ease;
}

.galimg:hover {
    transform: scale(1.1) rotate(7deg) translate3d(0, 0, 0.1px);
    
}







@media (max-width: 768px) {
    .main {
        background-size: contain;
        background-position: center top;
    }

  nav a {
    padding: 2px 5px;
    text-wrap: nowrap;
  }

  #topbtn a {
    padding: 8px 16px;
  }

  #btnimgs a {
    padding: 8px 4vw;
  }

  #mscont {
    margin-left: clamp(5px, 2vw, 15px);
  }

  .galimg {
    width: clamp(80px, 40vw, 350px);
  }
}