body {
	background-color: #6cb6d3;
	font-family:Arial, Helvetica, sans-serif;

}

.block {
	width: 100%;
	height: 75vh;
	display: flex;
	justify-content: top;
	align-items: center;
	flex-direction: column;
	margin-bottom: 10px;

	


}



.topblock {
	background-color:rgb(33, 139, 239);
	border-radius: 10px;
}

.secondblock {
	background-color: rgb(33, 139, 239);
	border-radius: 10px;
}

.thirdblock {
	background-color: rgb(33, 139, 239);
	border-radius: 10px;
}